@model FormulaInventory.Models.Engine

<form action="/Home/AddNewEngine" method="post">
    <br />
    Engine ID: <input type="text" name="EngineID" /><br /><br />
    Litres: <input type="text" name="Litres" /><br /><br />
    Revolutions: <input type="text" name="Revolutions" /><br /><br />
    Pistons: <input type="text" name="Pistons" /><br /><br />
    <input type="submit" value="Add Engine" />
</form>
