@model FormulaInventory.Models.Engine

<form action="/Home/AddNewEngine" method="post">
    <br />    
    Engine ID: <input type="text" name="EngineID" required oninvalid="this.setCustomValidity('Whole digits only')" 
                      oninput="setCustomValidity('') " placeholder="55"/><br /><br />
    Litres: <input type="text" name="Litres" required pattern="^[\d]{1,3}$" oninvalid="this.setCustomValidity('1-3 digits only')" 
                      oninput="setCustomValidity('') " placeholder="33"/><br /><br />
    Revolutions: <input type="text" name="Revolutions" required pattern="^[\d]{4,5}$" oninvalid="this.setCustomValidity('4-5 digits only')" 
                      oninput="setCustomValidity('') " placeholder="20000" /><br /><br />
    Pistons: <input type="text" name="Pistons" required pattern="^[\d]{1,2}$" oninvalid="this.setCustomValidity('1-2 digits only')" 
                      oninput="setCustomValidity('') " placeholder="12"/><br /><br />
    Price: <input type="text" name="Price" required pattern="^[0-9]+(\.[0-9]{1,2})?$"oninvalid="this.setCustomValidity('Make sure there are two digits after decimal')" 
                      oninput="setCustomValidity('')" placeholder="432.33"/><br /><br />
    <input type="submit" value="Add Engine" required />
</form>



