@model FormulaInventory.Models.Wheel

<form action="/Home/AddNewWheel" method="post">
    <br />
    Wheel ID: <input type="text" name="WheelID" /><br /><br />
    Rim Size: <input type="text" name="RimSize" /><br /><br />
    Color: <input type="text" name="Color" /><br /><br />
    Material: <input type="text" name="Material" /><br /><br />
    <input type="submit" value="Add Wheel" />
</form>