<br /><br />

<h5>Enter a year between 1950 and 2017</h5>

<form action="/Home/ShowInfoForRace" method="get">
    @*maybe change to int year if doesnt work with text year*@
    <input type="number" name="season" /><br />
    <input type="submit" action="/Home/ShowInfoForRace?season=1" value="Search" />
</form>